* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  .headerbar{
      display: none;
  }
  .searchicon{
      display: block;
  }
  .logo img {
    width: 90px;
    margin: 4px 0;
    position: relative;
    left: 5%;
    cursor: pointer;
  }